body {
  font-family: 'Roboto, sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
input,
textarea,
span,
div,
img,
svg {
  margin-bottom: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-row > div {
  padding: 0;
}

.ant-popover {
  z-index: 1;
}
